<h1>Guy's word finder</h1>

<%= form_tag('/words') do %>
  <%= label_tag(:rack, 'Search for') %>
  <%= text_field_tag(:rack) %>
  <%= submit_tag('Search') %>
<% end %>

<% unless @words.empty? %>
<h4>Results</h4>
<style>
.score { width: 100px; text-align: center; }
.words { width: 700px; text-align: left; padding: 10px; }
</style>
<table>
  <tr><th>score</th><th align='left'>words</th></tr>
  <% for score, words in @words.group_by(&:score).sort_by(&:first).reverse %>
    <tr>
      <td class="score">
        <%= score %>
      </td>
      <td class="words">
        <% words.sort_by(&:original).each do |word| %>
          <%= link_to(word.original, word.url) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
